<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post_con">Content</label>
      <input id="post_con" name="post_con" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>

       <button type="submit" id="new-post-form" class="btn-no-style">+ New Post</button>

</section> 

<script src="/add-post.js"></script>