<form class="login-form">
    <h2 id="signIn"> Login</h2> 
  <div>
    <label for="username-login" >username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="opt1">Login!</button>
    <button type="submit" id="opt2">Sign up instead</button>
  </div>
</form>


{{!-- <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form> --}}

<script src="/login.js"></script>