* {
    box-sizing: border-box;
    
  }
  :root{
      --first-color: #fefbd8;
      --second-color: #618685;
      --third-color: #4040a1;
      --fourth-color: #36486b;
  }

  h1 a{
    background-color: var(--first-color);
    color: var(--fourth-color);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: content-box;
    padding: 10px;
    box-shadow: 5px 10px  #ccc;
    color: var(--fourth-color);
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--first-color);
    background-color: var(--second-color);
  }
  
  a {
    text-decoration: none;
    color: var(--first-color);
    font-weight: bold;
    transition: color .1s;
    padding-right: 20px;
  }



  li h3{
    color: var(--first-color);
    background-color: var(--fourth-color);
    margin: 0;
    border: 100%;

}

li h4{
    color: var(--fourth-color);
}
  a:hover {
    color: #3486eb;
  }
  
   button {
    background-color: var(--fourth-color); 
    border: 0;
    padding: 1%;
    color: var(--first-color);
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;

  } 
  
  /* button:hover {
    background-color: #3486eb;
  }
   */
  .post-list {
    margin: 0;
    padding: 10;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  form {
      padding-left: 50px;
  }
    
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }


  header {
    border-bottom: 10px solid var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
    background-color:var(--fourth-color);
  }
  

  /* h2 {
    background-color: 1px solid var(--fourth-color);
    color: #66a37b;
  } */

  .post {
    width: 80%;
    border: 7px solid var(--fourth-color);
    border-spacing: 15px 50px;
    box-sizing: content-box;
    margin-bottom: 20px;
  }
  
  /* main {
    flex: 1;
    padding: 2% 4%;
  }
  
   .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--first-color);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
   
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  

  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  } */